In [ ]:
import pandas as pd 
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/dataset/temps.csv')
df.shape

(348, 12)

In [ ]:
# One-hot encode categorical features
df= pd.get_dummies(df)
df.tail(5)

     year  month  day  temp_2  ...  week_Sun  week_Thurs  week_Tues  week_Wed
343  2016     12   27      42  ...         0           0          1         0
344  2016     12   28      42  ...         0           0          0         1
345  2016     12   29      47  ...         0           1          0         0
346  2016     12   30      48  ...         0           0          0         0
347  2016     12   31      48  ...         0           0          0         0

[5 rows x 18 columns]

In [ ]:
#define the features and target 
features= ["year","month","day","week_Fri","week_Mon","week_Sat","week_Sun","week_Thurs","week_Tues","week_Wed","temp_2","temp_1","average"]
X=df[features]
y=df.actual

In [ ]:

# spliting the data 
train_X,val_X,train_y,val_y= train_test_split(X, y, random_state=1)
# making model 
forecast=RandomForestRegressor(random_state=1)

In [ ]:
#MODEL VALIDATION 
forecast.fit(train_X,train_y)
val_prediction = forecast.predict(val_X)
print(val_prediction)

[58.59 77.11 71.55 74.18 73.74 59.82 50.92 47.3  66.4  75.81 45.09 78.82
 65.4  82.05 54.85 60.71 41.51 48.71 56.16 72.05 52.34 78.15 77.72 81.23
 61.2  47.92 77.69 75.2  62.28 39.01 61.65 58.52 64.71 62.5  79.2  76.33
 70.15 52.88 44.36 53.23 77.68 69.93 61.94 42.9  74.69 67.49 65.38 67.58
 74.27 53.71 69.08 67.61 63.43 45.13 74.43 77.32 41.54 76.03 52.91 60.85
 72.43 50.5  77.33 53.1  59.7  51.83 61.2  52.84 59.   75.72 78.1  62.03
 61.49 69.41 72.09 56.11 58.34 54.13 77.07 55.39 64.26 52.14 66.89 62.02
 78.55 52.48 48.08]

In [ ]:
# mean absolute error
mae=mean_absolute_error(val_prediction,val_y)
print("validation MAE:",mae)

validation MAE: 4.463793103448276

In [ ]:
#  the max leaf node
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = RandomForestRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [ ]:
# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5,10,12,25,50,500,5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %f" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  4.666118
Max leaf nodes: 10  		 Mean Absolute Error:  4.435026
Max leaf nodes: 12  		 Mean Absolute Error:  4.452087
Max leaf nodes: 25  		 Mean Absolute Error:  4.447023
Max leaf nodes: 50  		 Mean Absolute Error:  4.408908
Max leaf nodes: 500  		 Mean Absolute Error:  4.438391
Max leaf nodes: 5000  		 Mean Absolute Error:  4.438391

In [ ]:
score={leaf_size:get_mae(leaf_size,train_X,val_X,train_y,val_y) for leaf_size in range(5,500)}
# Storing  the best value of max_leaf_nodes
best_tree_size =min(score,key=score.get)
print(best_tree_size)

66

In [ ]:
# final model 
final_model = RandomForestRegressor(max_leaf_nodes = best_tree_size,random_state=1)
final_model.fit(X, y)
prediction = final_model.predict(X)

In [ ]:
#model accuracy 
print("accuracy:",mean_absolute_error(y,prediction))

accuracy: 1.8457598023163717